#loginFormWrapper {
	margin-top: -20px;
	background: rgba(134,90,207,0.5);
	padding-top: 20px;
	padding-bottom: 40px;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin-right: -15px;
    margin-left: -15px;
}

div#libraryInfo {
    margin-top: 40px;
}

div#libraryInfo h1 {
    color: #fff;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 300;
}

div#libraryInfo p {
    color: #fff;
    margin-top: 30px;
    line-height: 22px;
}

div#libraryInfo hr{
    margin-top: 10px;
    width: 50px;
    border: none;
    border-top: 3px solid orange;
}


/*rgba(237,28,36,1)*/

#libraryForm {
    width: 95%;
    margin: auto;
}

#libraryForm>select {
	width: 100%;
	height: 41px;
	background: rgba(255,255,255,0.9);
	border: 1px solid #d1d1d1;
	transition: all 0.1s ease;
	padding-left: 55px;
	padding-right: 10px;
	box-shadow: 0 0 10px -2px rgba(0,0,0,0.5);
	outline: none;
	font-size: 13px;
	font-weight: 600;
	margin-top: 15px;
}

#libraryList {
	margin-top: 30px;
}

#libraryList .row {
	margin-bottom: 40px;
	text-align: center;
}

#libraryList a {
	text-decoration: none;
	display: inline-block;
	margin: auto;
	background: rgba(0,0,0,0.5);
	width: 80%;
	transition: all 0.5s ease-in-out;
}

#libraryList a i {
	float: right;
	margin-top: -41px;
	font-size: 30px;
	font-weight: bolder;
	margin-right: -10px;
	padding: 10px 5px;
	background: rgba(237,28,36,0.75);
	transition: all 0.3s ease-in-out;
}

#libraryList a:hover {
	background: rgba(255,255,255,0.25);
}

#libraryList a:hover i {
	display: block;
	margin-right: -50px;
	border: 1px solid rgba(255,255,255,0.5);
	border-left: none;
}

#libraryList li {
	color: #e1e1e1;
	list-style: none;
	padding: 10px;
	border-bottom: 1px solid rgba(255,255,255,0.5);
}

#libraryList li h1 {
	margin-bottom: 10px;
	text-align: center;
}