<!-- Heading of the page -->
    <div id="signUpPageHeading">
        <h2>Sign Up</h2>
    </div>
<!-- Heading Ends Here -->

<!-- The Signup Form -->
<div class="signUpForm" ng-controller="loginController">
    
    <!-- Input fields for Signup Form -->
    
    <!-- First Name -->
    <div class="iconContainer">
        <i class="material-icons">person</i>
    </div>
    <input type="text" placeholder="* firstname" ng-model="firstName" ng-keyup="firstNameValidate()" />
     <!-- Error Message if Password is less than 6 characters -->
    <p class="errorMessageSignUp" ng-model="emptyFirstNameError" ng-show="emptyFirstNameError">Firstname cannot be left empty</p>
    <p class="errorMessageSignUp" ng-model="numberInFirstName" ng-show="numberInFirstName">Firstname cannot contain number(s)</p>

    <!-- Last Name -->
    <div class="iconContainer">
        <i class="material-icons">person</i>
    </div>
    <input type="text" placeholder="* lastname" ng-model="lastName" ng-keyup="lastNameValidate()" />
     <!-- Error Message if Password is less than 6 characters -->
    <p class="errorMessageSignUp" ng-model="emptyLastNameError" ng-show="emptyLastNameError">Lastname cannot be left empty</p>
    <p class="errorMessageSignUp" ng-model="numberInLastName" ng-show="numberInLastName">Lastname cannot contain  number(s)</p>

    <!-- Password -->
    <div class="iconContainer">
        <i class="material-icons">lock</i>
    </div>
    <input type="password" placeholder="* password" ng-model="password" ng-keyup="checkLength();"/>
    <!-- Error Message if Password is less than 6 characters -->
    <p class="errorMessageSignUp" ng-model="passwordError" ng-show="passwordError">Password must be of minimum 6 characters</p>
    
    <!-- Confirm Password -->
    <div class="iconContainer">
        <i class="material-icons">lock</i>
    </div>
    
    <input type="password" placeholder="* confirm password" ng-model="confirmPassword" ng-keyup="matchPasswordAndConfirmPassword()" />
    
    <!-- Error Message if Passwords does not match -->
    <p class="errorMessageSignUp" ng-model="confirmPasswordError" ng-show="confirmPasswordError">Password and ConfirmPassword Mismatch</p>
    
    
    <!-- Mobile Number -->
    
    <div class="iconContainer">
        <i class="material-icons">call</i>
    </div>
    
    <input type="number" placeholder="* mobile" min="0" ng-model="mobileNumber" ng-keyup="mobileValidate()" />
    <p class="errorMessageSignUp" ng-model="mobileNumberError" ng-show="mobileNumberError">Mobile Number should be 10 digits long</p>

    <!-- Email -->
    
    <div class="iconContainer">
        <i class="material-icons">email</i>
    </div>
    
    <input type="email" id='validate' placeholder="* email" ng-keyup="validateEmailId()" ng-model="emailId" />
    <!-- Error msg if the email entered is not valid -->
    <p class="errorMessageSignUp" ng-model="emailIdError" ng-show="emailIdError">Enter a valid Email Id</p>

    <!-- Sign Up As: Teacher, Mentor or Mentee -->
    <div class="iconContainer">
        <i class="material-icons">person</i>
    </div>
    <select ng-options="item for item in post" ng-model="selectedPost"></select>
    
    <!-- Course -->
    <div class="iconContainer">
        <i class="material-icons">school</i>
    </div>
    <select ng-options="item for item in courses" ng-model="selectedCourse"></select>

    <!-- Enrollment Number -->
    <div class="iconContainer">
        <i class="material-icons">credit_card</i>
    </div>
    <input type="number" placeholder="* enrollment number" min="0" ng-model="enrollmentNumber" ng-keyup="enrollmentValidate()" />
    <p class="errorMessageSignUp" ng-model="enrollmentNumberError" ng-show="enrollmentNumberError">Enrollment Number should be 11 digits long</p>
    
    
    
    <!-- Branch: Appears on the basis of enrollment number -->
    <!-- Default: Hidden Field -->
    <div class="iconContainer" ng-hide="{{toggleBranchField}}">
        <i class="material-icons">school</i>
    </div>
    <select ng-hide="{{toggleBranchField}}" ng-options="item for item in branch" ng-model="selectedBranch" disabled></select>

    
    
    
    
    
    
    <!-- Submit Button -->
    <div id="submitButton">
        <button ng-click="submitFunction()">SUBMIT</button>
    </div>
</div>
<!-- Signup Form ends here -->