<div ng-controller="forumController">
    <div id="loginFormWrapper">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-5" id="libraryInfo">
                    <h1>Forum</h1>    
                    <hr />
                    <p><b><i>Yha pe kuch text</i></b></p>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-4"></div>
                <div class="col-sm-1"></div>
            </div>
        </div>
<div class="container-fluid manage table-container">
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="addPost">
                <h5>Write a new post here</h5>
                <input type="text" placeholder="heading">
                <textarea rows="4" placeholder="post content"></textarea>
                <div class="addPostButton">
                    <button>Post</button>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
    <div class="row">
        <div class="col-sm-1"></div>
        <div class="col-sm-10">
            <table class="table">
                <thead>
                <tr>
                    <th>Latest Topics</th>
                    <th>Replies</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><a href="#">Some Topic</a></td>
                    <td>50 Replies</td>
                </tr>
                <tr>
                    <a href="#"><td>Another Topic</td></a>
                    <td>50 Replies</td>
                </tr>
                <tr>
                    <a href="#"><td>Again some topic</td></a>
                    <td>50 Replies</td>
                </tr>
                <tr>
                    <a href="#"><td>Again another topic  goes here</td></a>
                    <td>50 Replies</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-1"></div>
    </div>
</div>
</div>