<div ng-controller="forumController">
    <div id="loginFormWrapper">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5" id="libraryInfo">
                <h1>Forum</h1>    
                <hr />
                <p><b><i>Yha pe kuch text</i></b></p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    <div class="container">
	    <div class="row forumPosts">
	        <div class="col-sm-3 forumProfile">
	            <p class="postName">Ruchit Jain</p>
	            <div class="forumDP">
	                <img src="../images/chat.png">
	            </div>
	        </div>
	        <div class="col-sm-9 forumContent">
	        	<p class="topicHeading">This is the topic heading</p>
	        	<p class="topicContent">Ye topic k andr ki kuch baate h</p>
	        </div>
        </div>
        <div class="row forumPosts">
            <div class="col-sm-3 forumProfile">
                <p class="postName">Kartik</p>
                <div class="forumDP">
                    <img src="../images/mentor.png">
                </div>
            </div>
            <div class="col-sm-9 forumContent">
                <p class="topicHeading">Re: This is the topic heading</p>
                <p class="topicContent">Ye topic ka reply hai aur ye reply mene bs timepass k liye dala h</p>
            </div>
        </div>  
	</div>
</div>