<div id="libraryWrapper" ng-controller="libraryController" class="container-fluid">
    
	<div id="loginFormWrapper">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5" id="libraryInfo">
                <h1>Library</h1>    
                <hr />
                <p>Yha pr bhi kuch likha ja sakta h.. if you want.. baki dekhte h..</p>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <div id="libraryForm">
                    <div class="iconContainer">
                        <i class="material-icons">school</i>
                    </div>
                    <select ng-model="library.branch" ng-options="item for item in selectBranch"></select>
                    <p class="errorMessageSignUp" ng-model="branchError" ng-show="branchError">Select a branch</p>
                <!--	<div class="iconContainer">
                        <i class="material-icons">book</i>
                    </div>
                    <select ng-model="selectedSemester" ng-options="item for item in semester"></select>

                    <div class="iconContainer">
                        <i class="material-icons">description</i>
                    </div>
                    <select ng-model="selectedSubject" ng-options="item for item in subject"></select>
                -->
                </div>
            </div>
            <div class="col-sm-1"></div>
        </div>
    </div>
    
    <div id="navbar">
    	<div class="row">
    		<div class="col-sm-4">
                <a href="#" class="eMaterials">E-Notes</a>
            </div>
    		<div class="col-sm-4">
    			<a href="#!/library/search" class="eMaterials">Search</a>
			</div>
    		<div class="col-sm-4">
                <a href="#" class="eMaterials">E-Books</a>
            </div>
		</div>
    </div>
    
    <div id="searchFormWrapper">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div id="libraryForm">
                	<div class="iconContainer">
                        <i class="material-icons">book</i>
                    </div>
                    <select ng-model="library.semester" ng-options="item for item in selectSemester"></select>
                    <p class="errorMessageSignUp" ng-model="semesterError" ng-show="semesterError">Select a semester</p>
                    
                    <div class="iconContainer">
                        <i class="material-icons">description</i>
                    </div>
                    <select ng-model="library.subject" ng-options="item for item in selectSubject"></select>
                    <p class="errorMessageSignUp" ng-model="subjectError" ng-show="subjectError">Select a subject</p>
                    
                    <div class="iconContainer">
                        <i class="material-icons">book</i>
                    </div>
                    <select ng-model="library.category" ng-options="item for item in selectCategories"></select>
                    <p class="errorMessageSignUp" ng-model="categoryError" ng-show="categoryError">Select a category</p>
                    
                    <div class="iconContainer">
                        <i class="material-icons">description</i>
                    </div>
                    <input type="text" placeholder="* file name" ng-model="fileName" ng-keyup="fileNameErrorFunction();"/>
                    <p class="errorMessageSignUp" ng-model="fileNameError" ng-show="fileNameError">File name cannot contain special characters</p>
                    
                    <div class="iconContainer">
                        <i class="material-icons">file_upload</i>
                    </div>
                    
                    
                    
                    <label for="fileUpload" id="fileUploadLabel">Choose File Here</label>
                    <p class="errorMessageSignUp" ng-model="uploadFileError" ng-show="uploadFileError">Select a file</p>
                    <input type="file" id="fileUpload" />
                    
                    <div id="searchButtonWrapper">
                        <button id="uploadButton" ng-click="uploadFunction();">UPLOAD</button>
                    </div>
                    
                    
                    
                    
                </div>                
            </div>
            <div class="col-sm-4"></div>
        </div>
    </div>